body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}